<!-- Resume-specific CSS -->
{{- $resumeCssPath := "css/resume.css" -}}
{{- $resumeCss := resources.Get $resumeCssPath -}}
{{- if $resumeCss -}}
  {{- $resumeCssMinified := $resumeCss | resources.Minify -}}
  {{- $resumeCssFingerprinted := $resumeCssMinified | resources.Fingerprint -}}
  <link rel="stylesheet" href="{{ $resumeCssFingerprinted.RelPermalink }}" integrity="{{ $resumeCssFingerprinted.Data.Integrity }}">
{{- else -}}
  <link rel="stylesheet" href="{{ $resumeCssPath | relURL }}">
{{- end -}}