name: Auto-update theme via Pull Request

on:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * *'

jobs:
  update:
    uses: shawnyeager/shared-workflows/.github/workflows/theme-update-pr.yml@master
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}
