name: Configuration Consistency

on:
  pull_request:
    paths:
      - 'go.mod'
      - 'go.sum'
      - 'netlify.toml'
  push:
    branches:
      - master
    paths:
      - 'go.mod'
      - 'go.sum'
      - 'netlify.toml'

jobs:
  check:
    uses: shawnyeager/shared-workflows/.github/workflows/config-consistency.yml@master
