name: Scheduled Netlify Build

on:
  schedule:
    - cron: '30 13 * * 4,5'  # Thu & Fri at 8:30 AM CT (13:30 UTC)
  workflow_dispatch:

jobs:
  build:
    uses: shawnyeager/shared-workflows/.github/workflows/scheduled-build.yml@master
    with:
      netlify_site_name: 'shawnyeager'
    secrets:
      NETLIFY_BUILD_HOOK_URL: ${{ secrets.NETLIFY_BUILD_HOOK_URL }}
