name: Scheduled Netlify Build

on:
  # DEACTIVATED: Uncomment schedule section below if needed
  # schedule:
  #   - cron: '30 11 * * 5'
  workflow_dispatch:

jobs:
  build:
    uses: shawnyeager/shared-workflows/.github/workflows/scheduled-build.yml@master
    with:
      netlify_site_name: 'shawnyeager'
    secrets:
      NETLIFY_BUILD_HOOK_URL: ${{ secrets.NETLIFY_BUILD_HOOK_URL }}
